<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block page_title %} My private blog {% endblock %}</title>
    </head>
    <body>
        <div id="header">
        {% block header %}
        
        {% endblock %}
        </div>
        <div id="menu">
        {% block top_menu %}
        <ul>
            <li><a href="{% url article_list %}">articles</a>
            <li><a href="{% url article_create %}">new article</a></li>
        </ul>
        {% endblock %}
        </div>
        <div>
        {% block content %}
        
        {% endblock %}
        </div>
        <div>
        {% block right_panel %}
        
        {% endblock %}
        </div>
        <div id="footer">
        
        </div>
    </body>
</html>